:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --black2:#303032;
  --black: #222125;
  --text-white:#FEFFFB;
  --grey-text:#BCBCBC;

  --lemon:#c2ff51;
}




