.topNav{
    position: fixed;
    top: 0;
    /* left: 16rem; */
    background-color: var(--grey-text);
    width: 100%;
    height:6.1rem;
    gap:5rem;

   padding-left: 5rem;

   
    box-shadow: 2px 4p 6px rgba(255,255,255,.7);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-around;
    /* justify-content: space-around; */
    align-items: center;
    
}
.searchItem{
    
    width: 23.8125rem;
    padding: 0.625rem 4.375rem 0.625rem 0.625rem;
    border-radius: 0.75rem;
    background:  #F5F5F5;
    text-align: center;
    
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;    
    gap: 0.9375rem;
}

.userSection{
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content:flex-end ;
    gap:1rem

   
}

.reminder{
    background-color: #c2ff51;
}

.imgHolder{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    border:1px solid #c2ff51;
}

.imgHolder img{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}